html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
 ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, 
 dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, 
 th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section,button, summary, time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 

}

body{
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 15px;
}
p{
    display: inline-block;
    color: #585757;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   max-width: 730px;
   letter-spacing: -0.3px;
   text-align: left;
}
h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: #1C1C1C;
    }
.smaller-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;

}







/*HEADER*****/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88px;
    
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    
    
}
.hamburger-menu{
   display: flex;
   align-items: center;
   justify-content: center;
}
#menu__toggle{
    visibility: hidden;
}
.navigation{
    display: flex;
    column-gap: 30px !important;
    line-height: 22px;
    padding: 0;
}
.navigation li{
    display: inline;
}

.navigation a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.logo{
    margin:0px 60px 0px 60px;
}
.search{
    visibility: hidden;
}

/*MAIN SECTION*******/

section:nth-child(n){
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #969696 1px solid;

}
section:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(6){
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**********/
.register-block{
    justify-content: right;
    padding-top: 84px;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.heading-info{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 126px;
    box-sizing: border-box;
    max-width: 445px;
}

.heading-info h1{
 margin-bottom: 20px;
}
.heading-info div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
    position: relative;

}


.info-desktop{
    visibility: visible;

  
}

.info-mobile{
    display: none;
}


.form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.button{
    padding: 11px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: 10px;
}


.form input{
    color: #585757;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 9px 15px;
}

.no-spam{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

/*****About pc block****/
.about-computers{
    justify-content: center;
    padding: 110px 0px 104px;

}
.circle{
    width: 96px;
    height: 96px;
    position: relative;
    background-color: #DBDBDB;
    border-radius: 50%;
    
}
.gg-lock{
    position: absolute;
    margin: 0 auto;
    top: 49px
}
.about-computers p{
    margin-top: 30px;
    text-align: center;
}

/*Section about-spyware*/

.about-spyware{
    padding: 110px 0px;
    justify-content: center;
    box-sizing: content-box;
}

.different-text{
    display: flex;
    flex-direction: column;
    max-width: 445px;
    margin: 10px 30px 0px;
    
   
}

.block-with-text h2::before{
   content: url(../img/graphik.png);
   box-sizing: border-box;
   margin-right: 15px ;
   width: 32px;
   height: 32px;
 

} 
.block-with-text{
    height: 86px;
    margin-top: 30px;
}

.block-with-text h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.block-with-text .short-info{
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    margin: 0px;
}


.img-screen{
    width: 100% ;
    max-width: 635px;
    height: 400px;
    background: #DBDBDB;
    border-radius: 8px;
}

.gg-image{
    position: absolute;
    top: 50%;
    right: 50px;
    left: calc(50% - 2.64px/2 + 3.58px);
}


/**** Section Analytics*****/


.analytics{
    justify-content: center;
    padding: 110px 0px;
    box-sizing: border-box;
}
.doughnut{
    margin-right: 76px;
}

.percent{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.8px;
    width: 160px;
}
.green::before{
    content: " ";
    display: inline-block;
    background-color: #24AFB5;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 20px; 
}
.light-green::before{
    content: " ";
    display: inline-block;
    background-color:rgba(36, 175, 181, 0.2);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 20px;
}
.gray::before{
    content: " ";
    display: inline-block;
    background-color:#DBDBDB;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 20px;   
}
.light-gray::before{
    content: " ";
    display: inline-block;
    background-color:#F7F7F7;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 20px;
}

td{
    width: 160px;
    height: 77px;
}
tr{
    padding: 0px 15px;
}
.td-1{
    padding:0px 30px 40px 0px;
}
.name{
    margin:0px 0px 0px 44px;
    font-size: 15px;
}
.analytics div{
    max-width: 350px;
    text-align: left;
}

.smaller-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
}

/****About Features***/
.about-features{
    justify-content: center;
    padding-top: 110px;
}
.text-container h1{
text-align: center;
}
.text-container p{
    margin-top: 20px;
    text-align: center;
}
.mobile-heading{
    display: none;
}
.feautures{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    
}
.feautures h3::before{
    content: url(../img/big-graphik.png);
    display: block;
    margin: 60px auto 10px;
    
}
h3{
    width: 160px;
    text-align: center;
    font-weight: 600;
}
.safari-window{
    margin-top: 60px;
}
/******Quote Block*******/
.quote-block{
    justify-content: center;
    padding: 124px 0px 115px;
}
.content-nav{
    position: relative;
    width: 100%;
    max-width: 730px;
    display: flex;
    justify-content: center;
}
.content-nav p{
    margin-top: 34px;
    text-align: center;
}
.btn{
    position: absolute;
    top: 50%;
    cursor: pointer;
    border: #616161 1px solid;
    width:48px;
    height:48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-icon{
    width: 20px;
    height: 20px;
    stroke:#969696;
    color: #969696;
    
}

.btn-left{
    left: -100px;
    transform: translate(0,-50%);
}
.btn-right{
    right: -100px;
    transform: translate(0,-50%);
}
.google{
    margin-top: 40px;
}
.author{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
}
.designer{
    margin-top: 5px;
}
.learn-more{
   margin-top: 40px;
   color:#24AFB5;
   text-decoration: none;
   font-weight: 600;
   line-height: 22px;
    text-align: center;
}
.dots{
    display: none;
}

/**************7******/
.price-block{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 110px 0px;
}
.details-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 350px;
    height: 450px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    padding: 30px 30px 44px;
    position: relative;
}
.free{
    display: inline-block;
    margin: 20px 0px;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 30px;
}
.btn-to-buy{
    width:113px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    column-gap: 16.83px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 
    0px 2px 1px rgba(0, 0, 0, 0.03), 
    0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    margin-bottom: 10px;
}
.green-button{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #24AFB5;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
}
.details-content input .check{
    background-color: #24AFB5 !important;
    border: 1px solid #DBDBDB !important;
}
input.check::after{
    display: block;
    accent-color: #24AFB5 ;
    background-color: #24AFB5 !important;
    color: #FFFFFF;
    border: 1px solid #DBDBDB !important;

}
input.check::before{
    background-color: #24AFB5 !important;
    border: 1px solid #DBDBDB !important;

}
.btn-bold{
    margin-top: 0px;
}
.popular-btn{
    position: absolute;
    width: 61px;
    right: 0;
    top:0;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}

/**********/
.subscribe{
    justify-content: center;
    padding: 110px 0px 114px;

}
.text-block{
    max-width: 445px;
    margin-right:125px ;
}
.subscribe form{
    display: flex;
    flex-direction: row;
    width: 540px;
    justify-content: space-between;
}
.subscribe input{
   width: 100%;
   max-width: 393px;
   height: 48px;
   box-sizing: border-box;
}
.subscribe button{
    margin-top: 0px;
}
h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
}
.subscribe p{
    margin-top: 10px;
}
/*********FOOTER**********/
footer{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;
    padding: 60px 0px 112px;
    box-sizing: border-box;
    height: 220px;  
}
.footer p{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    /* margin: 125px auto 77px; */
}
.footer-links{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    margin: 0px 182px 77px 261px;
}
footer .header-navigation{
    margin-top: 12px;
}
.social-img{
    display: flex;
    column-gap: 10px;
}



@media screen and (max-width: 320px) {
    section:nth-child(n){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 15px;
        border-bottom: #969696 1px solid;
    
    }
    section:nth-of-type(1){
        overflow: hidden;
        flex-direction: column-reverse;
    }
    .first-heading{
        font-size: 36px;
    }

    .header-navigation{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
    }
    .hamburger-menu{
        visibility: visible !important;
    }
    #menu__toggle {
        opacity: 0;
      }
      /* стилизуем кнопку */
      .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: absolute;
        top: 38px;
        left: 18px;
        width: 18px;
        height: 12px;
        cursor: pointer;
        z-index: 1;
      }
      /* добавляем "гамбургер" */
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -6px;
      }
      .menu__btn > span::after {
        content: '';
        top: 6px;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .header-navigation{
        visibility: visible;
        padding: 50px 10px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50px;
        left: 0;
      }
      #menu__toggle:checked ~ .second-nav{
      margin-top: 20px;
      }

      .search{
        visibility: visible ;
        position: absolute;
        top: 38px;
        right: 19px;
        width: 17px;
        height: 17px;
      }
      
    /*******/
        .register-block{
        flex-direction: column-reverse;
        padding-top: 40px ;
      }
      .info{
        font-size: 20px;
      }
      .info-block{
        align-items: center;
   
        
      }
      .info-mobile{
        display: block ;
    
      }
      .heading-info{
        align-items: center ;
        width: 100%;
        padding:30px 15px 45px 15px;
      
      }
      .info-desktop{
        display: none ;
        visibility: hidden;
      }
      .form{
        max-width: 290px;

      }
      .input{
       max-width: 290px;
       box-sizing: border-box;
      }
/****/
      .safari{
        display: flex;
        width: 300px;
        height: auto;
        margin-left: 20px;
        align-items: right;
    
      }
      /*********/
      .about-computers{
        max-height: 650px;
        padding: 0px 15px;
      }
      .info-plus {
        margin: 30px 0px 44px;
        max-width: 290px; 
    }

    .circle {
        width: 96px;
        height: 96px;
        margin-top: 40px;
 
    }
    /***About spyware****/
    .block-with-text{
        margin-bottom: 30px;
    }
    .third-block{
        max-height: 680px;
        padding: 40px 15px 46px;
        flex-direction: column ;
        box-sizing: content-box;
    }
    .different-text{
        margin: 0px 0px 30px;
    }
    .img-screen{
        position: relative;
        max-width: 290px;
        height: 180px;
    }
    .short-info {
        font-size: 15px;
    }
/****4*****/
.fourth-block{
    max-height: 790px;
    overflow: hidden;
    flex-direction: column;
    padding:40px 15px 40px;

}
.doughnut{
    margin: 0px;
}

table{
    width: 290px;
    box-sizing: content-box;
    margin-top: 30px;
    margin-left: 15px;
}

tr{
    
    padding: 0px 15px;
}
td{
    width: 130px !important;
}
.td-1 {
    padding: 0px 0px 30px 0px;
    /* float: right; */
    
}

.name{
    font-size: 15px;
    margin: 0px;
    padding-left: 44px;
}
.text-quality{
    margin-top: 30px;
}
/********5 block*****/
.fifth-block{
    padding-top: 40px;
}
.short-heading{
    padding: 0px 15px;
}
.feautures{

    flex-wrap: wrap;
}
.mobile-heading{
    display: block;
}
.dekstop-heading{
display: none;
}
.third-heading{
    width: 130px;
    margin-top: 30px;
    /* margin: 30px auto 10px; */
}
.third-heading::before{
    margin: 0px auto 10px;
}
.safari-window{
    width: 300px;
    margin-top: 68px;
}
/*********************/
.sixth-block{
    padding: 54.43px 15px 57px;
}
.content-nav p{
    margin: 24px 0px 0px;
}
.author{
    margin-top: 12px;
}
.btn{
    display: none;
}
.learn-more{
    margin-top: 30px;
}
.dots{
    display: flex;
    gap: 6px;
    margin-top: 48.8px;
}
.dots button{
    width: 8px;
    height: 8.06px;
    border-radius: 50%;
    background-color: #DBDBDB;
}
.dots .dot-fill{
    background-color: #24AFB5;;
}
/*********7****/
.seventh-section{
    padding: 40px 15px;
    flex-direction: column;
    row-gap: 10px;
}
.details-content{
    width: 290px;
}

/*******FOOTER*/
footer{
    height: 350px;
padding: 40px 15px 48px;
}
.footer-links{
    margin: 30px 0px;
    display: flex;
    row-gap: 30px;
    align-items: center;

}
.footer-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 285px;
}
}